body{
  margin: 0;
}

h1{
  background-color: turquoise;
  padding: 1em 2em .5em 3em;
  margin: 0;
  border: 5px dotted #000;
  border-radius: 10px;
}

a{
  background-color: orange;
  display: block;
  color: #000;
  text-decoration: none;
}

nav{
  background-color: pink;
  text-align: center
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 5px dotted #000;
  border-radius: 10px;
  border-color: #000;
  width: 5em;
}
